.Header {
    opacity:0;
    transform:translateX(100px);
    animation:apparition 2s 4s ease-out forwards; 
    display: flex;
    flex-direction: column;
    & button{
        font-family: "Orbitron", sans-serif;
        cursor: pointer;
    }
}
.fade-enter {
    opacity: 0;
    transform: translateX(100%);
  }
  .fade-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 300ms, transform 300ms;
  }
  .fade-exit {
    opacity: 1;
    transform: translateX(0%);
  }
  .fade-exit-active {
    opacity: 0;
    transform: translateX(100%);
    transition: opacity 300ms, transform 300ms;
  }
.presentation {
    padding: 50px;
    &-info {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 50px;
        width:500px;
        &_sub {
            padding: 30px;
            color:$var-color-green;
            &-p1{
                width:0%;
                animation:typewriterpres 2s 0.5s ease-out forwards;
                border-right: 3px solid black; // Simule le curseur du typewriter
                overflow: hidden;
                display: inline-block;
                white-space: nowrap;
                font-size:1.2rem;
                max-width: 100%;
            }
            &-p2{
                width:0%;
                animation:typewriterpres 2s 2.5s ease-out forwards;
                border-right: 3px solid black; // Simule le curseur du typewriter
                overflow: hidden;
                display: inline-block;
                white-space: nowrap;
                font-size:1.2rem;
                max-width: 100%;
                .presentation-info_sub_anim{
                    animation:clignoter 1s 3s ease-in-out infinite;
                }
            }
        }
    }
    
.presentation-try {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    cursor: pointer;

    &.active .presentation-tiret,
    &:hover .presentation-tiret {
        width: 60px; 
    }

    &.active .presentation-btn,
    &:hover .presentation-btn {
        color: $var-color-green; 
        font-size:larger;
    }
}

.presentation-tiret {
    border: 1px $var-color-green solid;
    background-color: $var-color-green;
    height: 1px;
    width: 30px;
    transition: width 0.3s ease;
}

.presentation-btn {
    background-color: rgba(2, 2, 73, 0.123);
    opacity: 0.8; 
    color:$var-color-secondary;
    font-size: 1rem;
    border-radius: 25px;
    padding: 5px 10px;
    border: none;
    transition: color 0.3s ease, background-color 0.3s ease; 
    }
    &-tags {
        display: flex;
        flex-direction: column;
        padding-left: 10%;
        gap: 5px;
        align-items: center;
        flex-wrap: wrap;
        text-align: center;
        padding:110px 0px;
        opacity:0;
        transform:translateX(100px);
        animation:apparition 2s 4s ease-out forwards; 
        & h2 {
            color:aquamarine;
        }
        &_contact {
            opacity:0.9;
            display:flex;
            flex-direction: row;
            align-items: center;
            gap:30px;
           & img{
            border-radius: 360px;
            width: 40px;
            object-fit: cover;
            &:hover{
                transform:scale(1.2)
            }
           } 
        }
    }
}
.presentation-try {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    cursor: pointer;

    &.active .presentation-tiret,
    &:hover .presentation-tiret {
        width: 60px; 
    }

    &.active .presentation-btn,
    &:hover .presentation-btn {
        color: $var-color-green; 
        font-size:larger;
    }
}
.presentation-tiret {
    border: 1px $var-color-green solid;
    background-color: $var-color-green;
    height: 1px;
    width: 30px;
    transition: width 0.3s ease;
}
.presentation-btn {
    background-color: rgba(2, 2, 73, 0.123);
    opacity: 0.8; 
    color:$var-color-secondary;
    font-size: 1rem;
    border-radius: 25px;
    padding: 5px 10px;
    border: none;
    transition: color 0.3s ease, background-color 0.3s ease; 
}


@keyframes typewriterpres {
    from { width: 0; }
    to { width: 100%; }
}
@keyframes apparition {
    100%{
        opacity:1;
        animation:none;
        transform:translateX(0px)
    }
}
@keyframes clignoter {
    0%
    {
        opacity: 0;
    }
    100%{
        opacity:1;
    }
}

@media (max-width: 992px) {
.presentation{
        &-tags {
            padding-left: 0px;
        }
        &-profil{
            width:400px;
        }
    }
        .presentation-info{
            flex-direction: column-reverse;
            &_sub{
                width:100%
            }
        }
}

@media (max-width: 500px) {
    .presentation {
        &-profil {
            margin: 0px;
            width: 250px;
        }
        &-info {
            flex-direction: column-reverse;
            &_sub {
                width: 300px;
                font-size:medium
            }
        }
        
    }
}