.project-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  color: aquamarine;
  margin-top: 20px;
}

.project-images img {
  margin: 5px; /* Espacement réduit */
  border-radius: 8px;
  width: auto; /* S'adapte à la hauteur */
  height: 150px; /* Hauteur fixe pour contrôler la taille des images */
  object-fit: cover; /* Garde le ratio d'aspect tout en couvrant l'espace défini */
  transition: transform 0.3s ease;
}

.project-images img:hover {
  transform: scale(1.05);
  background-color: rgba(2, 2, 73, 0.123);
}

.project-tags {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  padding: 20px;
}

.tag {
  padding: 5px 10px;
  border-radius: 25px;
  background-color: transparent;
  
}

.link {
  display: inline-flex;
  align-items: center;
  padding: 5px 10px;
  margin: 0 5px;
  text-decoration: none;
  color: aquamarine;
  border-radius: 25px;
}

.link img {
  height: 40px; /* Ajustez la taille des icônes */
  border-radius:25px;
  &:hover{
    transform: scale(1.2);
  }
}

.back-button {
  align-self: flex-start;
  margin: 10px;
  padding: 5px 10px;
  font-size: 16px;
  color: aquamarine;
  background-color: transparent;
  border: 1px solid aquamarine;
  border-radius: 5px;
  cursor: pointer;
}

.back-button:hover {
  background-color: aquamarine;
  color: white;
}