.project-detail {
  color:var(--color-primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  gap:35px;
  font-family: "Orbitron", sans-serif;
}
.project-description{
  text-align: justify;
}
.project-title{
  color:var(--color-green);
  font-size:2rem;
  text-align: center;
}
.project-images{
  display:flex;
  flex-direction: row;
  
}
.project-images img {
  margin: 5px; 
  border-radius: 8px;
  width: auto; 
  height: 150px; 
  object-fit: cover; 
  transition: transform 0.3s ease;
}

.project-images img:hover {
  transform: scale(1.05);
  background-color: rgba(2, 2, 73, 0.123);
}
.project-description{
  width:80%;
}

.project-tags {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 50%;
  padding: 20px;
}
.tag {
  padding: 5px 10px;
  border-radius: 25px;
  background-color: transparent;
  border:1px solid white;
}

.link {
  display: inline-flex;
  align-items: center;
  padding: 5px 10px;
  margin: 0 5px;
  text-decoration: none;
}

.link img {
  &:hover{
    transform: scale(1.2);
  }
}

.imgWebsite{
  width:50px;
}
.imgCode{
  width:40px;
}

@media (max-width:900px) {
  .project{
    &-title{
      font-size:1.2rem;
    }
    &-images img{
      width:250px;
      object-fit: cover;
    }
    &-description{
      width:100%;
      text-align:justify;
    }
    &-tags {
      width:100%
    }
  }
}