.about{
    display:flex;
    align-items: center;
    flex-direction: column;
    width:800px;
    animation: comefromtop 2s ease-in;
    padding-top:100px;
    & img{
        width:200px;
        height:200px;
        object-fit: cover;
        padding:25px 0px;
        border-radius: 50%;
    }
    &-p{
        animation:getit 4s ease-in;
        &1{
            animation:getit 6s ease-in;
        }
        &2{
            animation:getit 8s ease-in;
        }
        &3{
            animation:getit 10s ease-in;
        }
    }
    
}
@keyframes getit {
    0%{
        opacity:0;
    }
    80%{
        opacity: 0;
    }
    100%{
        opacity:1;
    }
}

@keyframes comefromtop {
    0%{
        transform: translatey(-200%);
        opacity:0;
    }
    50%{
        opacity:0.5;
    }
    100%{
        transform: translatey(0);
        opacity:1;
    }
}


