.about {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 800px;
    margin:20px;
    & img {
        width: 150px;
        opacity: 0.9;
        border-radius: 360px;
        padding: 25px 0px;
    }
    & h3 {
        color:var(--color-green);
        text-align: center;
        width:100%;
        font-size:2rem;
        padding-bottom:80px;
        font-family: "Orbitron", sans-serif;;
    }
}
.about-text {
    width:100%;
        animation:apparaitre 1.8s 0.5s ease-out forwards;
    width:0%;
    transform:translateX(30px);
    opacity:0;
    text-align: justify;
}
.about-text_anim {

    overflow: hidden;
    display:inline-block;
    & span{
        display:inline-block;
    }
}

@keyframes apparaitre {
    100%{
        width:100%;
        animation:none;
        transform:translateX(0px);
        opacity:1;
    }
}