header {
    margin: 35px 0px;
  }
  
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:30px;
    border:5px #414f81 solid;
    border-radius:25px;
  }
  
  .Logo {
    width: 30px;
  }
  
  .Link {
    display: flex;
    width: 180px;
    justify-content: space-between;
  
    a {
      display: flex;
      text-decoration: none;
      color:#bcd0f7;
      justify-content: flex-end;
      font-size:1.5rem;
      padding-right:20px;
      white-space: nowrap;
      &.active {
        text-decoration: underline;
      }
      &.Link_Accueil {
        width: 150px;
      }
  
      &.Link_Apropos {
        width: 150px;
      }
    }
  }
  @media (max-width: 992px){
      .Link{
        flex-direction: column;
        gap:20px;
      }    
}