$var-color-primary:white;
$var-color-secondary:#ffffff8f;
$var-color-background: rgb(1, 2, 3); 
$var-color-gold:#e1ab49;
$var-color-green:#21e6a4;

body {
    margin:30px 20px;
    color: $var-color-primary;
    background-color: $var-color-background;
    font-family: "Roboto Mono", monospace;
}

.title {
    font-size:2rem;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.sidebar {
    width: 25%;
    position: relative;
    animation: moveto 6s ease-in;
}

.sidebar-inner {
    position: absolute;
    top: 0;
    left: 0;
    right: -17px; 
    bottom: 0;
    padding-right: 17px;
}

@keyframes moveto {
    0%, 45% {
        width: 100%;
    }
    100% {
        width: 25%;
    }
}

.content {
    width: 65%;
    display: flex;
    justify-content: center;
    &-style {
        padding: 100px;
    }
}

.Header {
    display: flex;
    flex-direction: column;
    & button{
        font-family: "Roboto Mono", monospace;
        cursor: pointer;

    }
}

.presentation-try {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    cursor: pointer;

    &.active .presentation-tiret,
    &:hover .presentation-tiret {
        width: 60px; 
    }

    &.active .presentation-btn,
    &:hover .presentation-btn {
        color: $var-color-green; 
        font-size:larger;
    }
}

.presentation-tiret {
    border: 1px $var-color-green solid;
    background-color: $var-color-green;
    height: 1px;
    width: 30px;
    transition: width 0.3s ease;
}

.presentation-btn {
    background-color: rgba(2, 2, 73, 0.123);
    opacity: 0.8; 
    color:$var-color-secondary;
    font-size: 1rem;
    border-radius: 25px;
    padding: 5px 10px;
    border: none;
    transition: color 0.3s ease, background-color 0.3s ease; 
}
@media (max-width: 1500px) {
    .container {
        flex-direction: column;
        height: auto; 
        overflow-y: auto; 
    }
    .sidebar,
    .content {
        width: 100%; 
    }
    .sidebar {
        animation: none; 
    }
    .sidebar-inner {
        position: static; 
        overflow-y: auto; 
        padding-right: 0px; 
        height:100%;
        width:100%;
    }
}
@media (max-width: 900px) {
    
}