:root {
    --color-primary: rgb(0, 0, 0);
    --color-secondary: #000000;
    --color-background: rgb(53, 121, 112);
    --color-green: rgb(0, 0, 0);
    --font-title: "Orbitron", sans-serif;
    --back-card: rgba(128, 128, 128, 0.589);
    --back-modal: rgba(0, 85, 74, 0.877);
    --color-active: rgb(255, 255, 255);
  }
  
  
  .dark {
    --color-primary: white;
    --color-secondary: #ffffff8f;
    --color-background: rgb(1, 2, 3);
    --color-green: aquamarine;
    --font-title: "Orbitron", sans-serif;
    --back-card: rgba(128, 128, 128, 0.164);
    --back-modal: rgba(41, 40, 40, 0.979);
    --color-active: aquamarine;
  }

body {
    color: var(--color-primary);
    background-color: var(--color-background);
    font-family: "Roboto Mono", monospace;
    margin:0;
}
.body-title{
    display:none;
}
.title {
    font-size:2rem;
}
.container {
    position: relative;
    width: 100%;
    min-height: 100vh; 
    display: flex;
    flex-direction: row; 
    justify-content: center;  
    overflow: hidden;  
}

.sidebar {
    width: 30%;
}
.content {
    width: 65%;
    display: flex;
    justify-content: center;
}
@media (max-width: 1250px) {
    .container {
        flex-direction: column;
        height: auto; 
    }
    .sidebar,
    .content {
        width: 100%; 
    }
}
