$var-color-primary:white;
$var-color-secondary:#ffffff8f;
$var-color-background: rgb(1, 2, 3); 
$var-color-gold:#e1ab49;
$var-color-green:aquamarine;
$var-font-title:"Orbitron", sans-serif;


body {
    color: $var-color-primary;
    background-color: $var-color-background;
    font-family: "Roboto Mono", monospace;
}
.body-title{
    display:none;
}

.title {
    font-size:2rem;
}

.container {
    position: relative;
    width: 100%;
    min-height: 100vh; 
    display: flex;
    flex-direction: row; 
    justify-content: center;  
    overflow: hidden;  
}

.sidebar {
    width: 30%;
}
.content {
    width: 65%;
    display: flex;
    justify-content: center;
}
@media (max-width: 1500px) {
    .container {
        flex-direction: column;
        height: auto; 
        overflow-y:scroll; 
    }
    .sidebar,
    .content {
        width: 100%; 
    }
}
@media (max-width: 900px) {
    
}