.contact{
    display:flex;
    justify-content: center;
    padding:100px;
    a {
        font-size: 2rem;
        color:$var-color-primary;
        padding:30px;
        text-decoration: none;
    }
    &-box{
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width:500px;
        height:400px;
        &_sub{
            display:flex;
            align-items: center;
        }
        &_logo{
            width:60px;
        }
    }
}
@media (max-width: 992px){
    .contact{
        a{
            font-size:1.2rem;
        }
        &-box{
        width:300px;
        }
    }
}