.video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; /* Empêche le défilement de la vidéo */
  z-index: -1; /* Garde la vidéo en arrière-plan */
}

#background-video {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Assure que la vidéo couvre entièrement l'espace disponible sans perdre de proportions */
  opacity: 0.2; /* L'opacité peut être ajustée pour moins distraire du contenu principal */
  overflow: hidden;
}